Teste - base tiktok

hashtags

In [1]:
from dateutil.parser import parse 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import itertools
import pandas as pd
import openpyxl
import pandas as pd
plt.rcParams.update({'figure.figsize': (10, 7), 'figure.dpi': 120})

In [2]:
df = pd.read_csv('IMDb movies.csv', delimiter=",")

C:\Users\lucas\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = df.dropna(subset = ['actors'])

In [4]:
for i, row in df.iterrows():
    try:
        itertools.combinations(row.actors, 2)
    except Exception as e: 
        print(row.actors)
        print(i)
        print(str(e))
        break

In [5]:
for i, row in df.iterrows():
    try:
        float(row.year)
    except Exception as e: 
        print(row.year)
        print(i)
        print(str(e))
        break

TV Movie 2019
83917
could not convert string to float: 'TV Movie 2019'

In [6]:
df = df[(df.year != 'TV Movie 2019')]

In [26]:
for i, row in df.iterrows():
    try:
        float(row.year)
    except Exception as e: 
        print(row.year)
        print(i)
        print(str(e))
        break

In [7]:
df['year'] = df['year'].apply(float)

In [27]:
dff = df[df.year >= 2000]
dff = dff.dropna(subset = ['budget'])
dff = dff.dropna(subset = ['worlwide_gross_income'])

In [28]:
dff['income'] = dff.worlwide_gross_income.apply(lambda v: str.replace(v,'$',''))

In [29]:
dff['income'] = dff['income'].apply(float)

In [30]:
dff = dff[dff.income >= 1000000]

In [31]:
dff['rev'] = dff['reviews_from_users'].apply(float)
dff = dff[dff.rev >= 50]

In [32]:
dff['rev2'] = dff['reviews_from_critics'].apply(float)
dff = dff[dff.rev2 >= 50]

In [33]:
dff['votes'] = dff['votes'].apply(float)
dff = dff[dff.rev2 >= 200]

In [34]:
dff.shape

(1491, 25)

In [44]:
dff['actors'] = dff['actors'].apply(lambda v: v.split(', '))

In [45]:
lista

31279    [Alan Howard, Noel Appleby, Sean Astin, Sala B...
31291    [Tom Cruise, Dougray Scott, Thandie Newton, Vi...
31326    [Ryan McCluskey, Oscar Pearce, Indra Ov√©, Anna...
31381    [Hugh Jackman, Patrick Stewart, Ian McKellen, ...
31385    [Tommy Lee Jones, Will Smith, Rip Torn, Lara F...
                               ...
84158    [Matthew McConaughey, Charlie Hunnam, Michelle...
84442    [Dean-Charles Chapman, George MacKay, Daniel M...
84553    [Tim Matheson, Ben Andrusco-Daon, Zahra Anders...
84701    [Florence Pugh, Jack Reynor, Vilhelm Blomgren,...
84912    [Daniel Craig, Chris Evans, Ana de Armas, Jami...
Name: actors, Length: 1491, dtype: object

In [46]:
hashtags_pairs = list()
hashtags_use = list()
hashtags_combinations = lista.apply(lambda x: list(itertools.combinations(x, 2)))
flat_list = [item for sublist in hashtags_combinations for item in sublist]
for hash1, hash2 in flat_list:
    hashtags_pairs.append({
        'source': hash1,
        'target': hash2,
                })

In [49]:
df = pd.DataFrame(hashtags_pairs)

In [51]:
len(hashtags_pairs)

152552